---
import ChartLine from '@/components/icons/ChartLine.astro';
import ShoppingCart from '@/components/icons/ShoppingCart.astro';
import WrapperIcon from '@/components/WrapperIcon.astro';
import CountAnimated from './CountAnimated';
import Header from './Header.astro';

const stats = [
  {
    value: 500,
    start: 100,
    duration: 1.6,
    text: 'Negocios activos',
    prefix: '+',
  },
  {
    value: 10,
    start: 1,
    duration: 2.5,
    text: 'Pedidos diarios',
    suffix: 'k',
    prefix: '+',
  },
  { value: 100, start: 30, duration: 2, text: 'Disponibilidad', suffix: '%' },
];
---

<section class="flex items-center mx-auto gap-14 w-4/5 h-screen">
  <div class="flex flex-col gap-9 w-2/3">
    <Header />

    <article class="flex gap-6">
      {
        stats.map(
          ({ value, start, duration, text, prefix = '', suffix = '' }) => (
            <div class="rounded-lg px-7 py-3 surface-glass">
              <span class="text-brand-primary font-bold text-2xl">
                {prefix}
                <CountAnimated
                  value={value}
                  start={start}
                  duration={duration}
                  client:only
                />
                {suffix}
              </span>
              <p class="font-semibold">{text}</p>
            </div>
          )
        )
      }
    </article>
  </div>

  <figure class="w-full relative">
    <img
      src="/hero.webp"
      alt="Imagen del Dashboard"
      class="w-full h-full object-cover rounded-lg opacity-90"
    />

    <div
      class="absolute top-6 left-4 flex-center gap-2 text-sm rounded-lg p-2 w-fit backdrop-blur-[3px] scale-110 -rotate-12 text-light bg-white/[0.04]"
    >
      <WrapperIcon icon={ShoppingCart} class="text-brand-primary" />
      <p>124 nuevos pedidos</p>
    </div>

    <div
      class="absolute bottom-9 right-8 flex-center gap-2 text-sm rounded-lg p-2 w-fit backdrop-blur-[3px] scale-125 text-light bg-white/[0.06]"
    >
      <WrapperIcon icon={ChartLine} class="text-brand-primary" />
      <p>Ventas +24%</p>
    </div>
  </figure>
</section>
